.country {
    border: 2px solid lightblue;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;

}

.image {
    height: 150px;
    width: 250px;
}

.country-visited {
    background-color: #F4991A;
}